<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>リアルシミュレーション</title>
</head>
<body>
<h3>リアルシミュレーションで条件に当てはまった銘柄を抽出</h3>

  <h3>ボリバン+2σにタッチ</h3>
  <table>
    <tr>
      <th>コード</th>
      <th>終値</th>
      <th>ボリバン</th>
    </tr>
    {% for data in datas %}
    <tr>
      <th><a href="#">{{data.code}}</a></th>
      <th>{{data.close}}</th>
      <th>{{data.bb}}</th>
    </tr>
    {% endfor %}
  </table>




</html>
</body>